/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


.searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}

.fullWidthBanner img {
    width: 100%;
}

a.phone {
    font-weight: 400;
    color: #c6a337 !important;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}

.headerMain .fl-col:not(.fl-visible-mobile) {
    flex: 2;
}

.headerMain .fl-col.headerLogo {
    flex: 1;
    margin-right: 20px;
}

.uabb-creative-menu ul#menu-main-menu li ul.sub-menu .uabb-has-submenu-container .uabb-menu-toggle{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    padding-left: 0;
}

@media(max-width:1280px) {
    #djcustom-header #menu-main-menu li.menu-item a{
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media(max-width:1199px) {
    .headerMain .fl-col.headerLogo,
    .headerMain .fl-col.headerRightNav{ flex: auto; position: relative;}

    .headerMain .fl-col.headerLogo .fl-photo-align-left,
    .headerMain .fl-col.headerRightNav .menu{}
}
@media(max-width:1024px) {
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .headerMain .headerRightNav {
        margin-left: 30px;
    }

    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
}
@media(max-width:992px) {
    .headerMain .fl-col.navMobile .fl-rich-text>p{
        text-align: right;
    }
    .searchIcon {
        position: static;
    }

    .headerMain .fl-col-group.fl-col-group-equal-height {
        padding: 10px 15px;
        display: flex;
        align-items: center;
    }
    .headerMain p {
        margin-bottom: 0;
    }
    button#responsive-menu-button{
        top: 0 !important;
        right: 0 !important;
        text-align: center;
    }
    .navMobile .fl-module > .fl-module-content{
        margin-right: 0 !important;
    }

    .headerMain .headerRightNav {
        margin: 0;
    }

    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col {
        flex: 1;
    }    
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo {
        flex: 2 !important;
        margin-right: 0 !important;

    }
    .headerMain .phone.retailer {
        font-size: 26px;
        color: #42291d;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .headerMain .phone.retailer:before {
        content: "\ea3e";
    }
    .headerMain .phone.retailer span{
        font-size: 0;
    }
}
@media(max-width:992px) and (min-width:767px) {
    .flexViewIpad .fl-col-group{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}
    @media(max-width:768px) {

    .iPadFooter .fl-col-group {
        display: flex;
    }

    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }
    .headerMain .fl-col.headerLogo{
        margin-right: 0;
    }

    ul#menu-copyright-bar-menu {
        display: flex;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .djcustom-header .fl-row-content-wrap .fl-col-group-custom-width .fl-col{
        width: 50% !important;
    }
    #menu-flooring-menu, #menu-inspiration-menu, #menu-about-us {
        text-align: left;
    }
    
    .headerMain .fl-col-group{
        align-items: center;
    }
    .footerLinks .fl-col-group {
        display: flex;
        flex-wrap: wrap;
    }
    .footerCopyright .fl-col-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
}

@media(max-width:767px) {
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text >p{
        margin-bottom: 0 ;
    }
    h2{
        font-size: 18px;
    }
    .footermenu .menu-item p a{
        color: #FBFBFB;
        font-family: Roboto;
        font-size: 12px;
        line-height: 23px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon{
        vertical-align: super;
        padding-top: 6px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon .fas.fa-map-marker-alt:before{
        margin-top: 6px;
    }
}
@media(max-width:480px) {
    .footerLinks .fl-col-group,
    .footerCopyright .fl-col-group{
        display: block;
    }

    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col{
        flex: 0;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo{
        flex: 5px !important;
    }
    .headerMain .phone.retailer{
        margin-right: 0; 
    }  
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button{
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next{
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev{
        left: 20px;
    }
    .iPadFooter .fl-col-group{
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col{
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu{
        justify-content: center;
    }
    .footerCopyright .fl-col * {
        margin: 0;
    }
    .footerCopyright .fl-col-group .fl-col {
        height: 30px;
    }
}

@media(max-width:430px) {
.fl-page-bar-text-1 font{
     font-size: 14px;
}
}

@media(max-width:370px) {
    .fl-page-bar-text-1 font{
         font-size: 11px;
    }
    .fl-page-bar-text-1 i{
        font-size: 16px;
   }
}   